<section class="main-player">
    <div class="row container-player-controls">
        <button class="spoticon-shuffle-16" title="Ativar a ordem aleatória"></button>
        <button class="spoticon-skip-back-16 btn-disabled" title="Voltar"></button>
        <button class="spoticon-play-16 btn-play" title="Play"></button>
        <button class="spoticon-skip-forward-16" title="Avançar"></button>
        <button class="spoticon-repeat-16" title="Repetir"></button>
    </div>

    <div class="row container-player-timer">
        <span class="timer-passed">0:00</span>
        <div class="container-player-timer-bar">
            <!--<mat-slider class="player-timer-bar"></mat-slider>-->
            <input type="range" min="1" max="100" value="0" class="player-timer-bar">
        </div>
        <span class="timer-total">1:40:00</span>
    </div>
</section>
