.related {
    margin-bottom: 75px;
    .related-item {
        .mask, .cover {
            border-radius: 500px;
        }

        .item-result-title {
            margin-top: 10px;
        }
    }
}