<div class="about row">
    <div class="about-container">
        <div class="bio">
            <h2 class="ArtistAbout__header">Biografia</h2>
            <p class="ArtistAbout__paragraph" dir="auto">Hello!</p>
            <p class="ArtistAbout__paragraph" dir="auto">My name is "Cleeve Morris", I'm influenced by all 
                kind of stuff, like Pink Floyd, Vangelis, Yes, A-ha, Game Music, 80's 
                Japanese Pop Music, M83, Jean-Michel Jarre, Tycho, Com Truise...</p>
            <p class="ArtistAbout__paragraph" dir="auto">Since 2013, after spend some time in web and 
                    graphic projects doing digital arts and sounds, I decided create more based 70/80/90's 
                    stuff. Since then, I did some tracks and an EP called MIND.</p>
            <p class="ArtistAbout__paragraph" dir="auto">In 2015, my track "Midnight Rider" was on Drive 
                Radio's Top 10 (Week 44/October) and in 2016, on the first brazilian Synthwave collection, 
                called "Savage Streets", by Retro Attack.</p>
            <p class="ArtistAbout__paragraph" dir="auto">Now in 2017, my track "Detroit Destruction" was 
                on Stage by Sony website (in video), as a simple Robocop film tribute I made.</p>
            <p class="ArtistAbout__paragraph" dir="auto">I Hope you enjoy my sound!</p>
        </div>

        <div class="where-listeners">
            <h2 class="ArtistAbout__header">Onde as pessoas escutam</h2>
            <ul>
                <li class="ArtistAbout__city">
                    <h2 class="ArtistAbout__city__name">Toronto, CA</h2>
                    <span class="ArtistAbout__city__listeners">8 ouvintes mensais</span>
                </li>
                <li class="ArtistAbout__city">
                    <h2 class="ArtistAbout__city__name">São Paulo, BR</h2>
                    <span class="ArtistAbout__city__listeners">8 ouvintes mensais</span>
                </li>
                <li class="ArtistAbout__city">
                    <h2 class="ArtistAbout__city__name">Washington, US</h2>
                    <span class="ArtistAbout__city__listeners">6 ouvintes mensais</span>
                </li>
                <li class="ArtistAbout__city">
                    <h2 class="ArtistAbout__city__name">Los Angeles, US</h2>
                    <span class="ArtistAbout__city__listeners">4 ouvintes mensais</span>
                </li>
                <li class="ArtistAbout__city">
                    <h2 class="ArtistAbout__city__name">Chicago, US</h2>
                    <span class="ArtistAbout__city__listeners">4 ouvintes mensais</span>
                </li>
            </ul>
        </div>
    </div>
</div>



