<section class="player-track-data">
    <img
        class="track-data-cover" 
        src="https://i.scdn.co/image/fc409923477615e6b739e14fe73f682862c03705" />

    <span class="track-data">
        <div class="row track-title">The last vhs in the earth</div>
        <div class="row track-artist">Cleeve Morris</div>
    </span>

    <div class="btn-container">
        <button class="save-button spoticon-heart-16" title="Salvar em Músicas Curtidas"></button>

        <button class="picture-in-picture-button control-button">
            <svg xmlns="http://www.w3.org/2000/svg">
                <g fill="currentColor" fill-rule="evenodd">
                    <path d="M1 3v9h14V3H1zm0-1h14a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z" fill-rule="nonzero"></path><path d="M10 8h4v3h-4z"></path>
                </g>
            </svg>
        </button>
    </div>
</section>