<section class="artist-page page">
    <header class="artist-header" style="background-image: url('https://i.scdn.co/image/df4ea653bbdc4c5a1dbdcba2a176ed87edc9e1da')">
        <div>
            <span class="monthly-listeners">248 ouvintes mensais</span>
            <h1 class="artist-name">Cleeve Morris</h1>
            <div class="header-buttons">
                    <button class="btn btn-green">PLAY</button>
                    <button class="btn btn-black btn-fg-green btn--narrow">SEGUIR</button>
                    <button class="btn btn-transparent btn--narrow" title="Mais">
                        <div class="spoticon-ellipsis-24"></div>
                    </button>          
            </div>
            <nav>
                <ul>
                    <li>
                        <a class="active-tab" href="/artist/61D22Ez4c3MeQ4316ivMtN">Visão geral</a>
                    </li>
                    <li>
                        <a href="/artist/61D22Ez4c3MeQ4316ivMtN/related">Artistas relacionados</a>
                    </li>
                    <li>
                        <a href="/artist/61D22Ez4c3MeQ4316ivMtN/about">Sobre</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="artist-content content-result">
        <!-- Fundo escuro fixo -->
        <div class="bg-artist-page"></div>

        <!-- Faixas e playlists -->
        <app-overview></app-overview>

        <!-- Artistas relacionados -->
        <app-related></app-related>

        <!-- Sobre -->
        <app-about></app-about>

        <!-- Margin bottom fix -->
        <div class="row pd-foot"></div>
    </div>
 </section>
    
