<app-tabs></app-tabs>

<div class="content-result">
    <h1>Feito para você</h1>

    <ul class="row main-result-list">
        <li>            
            <div class="mask">
                <button class="cover-art-playback" dir="ltr"><!-- play track -->
                    <svg class="icon-play" viewBox="0 0 85 100">
                        <path fill="currentColor" d="M81 44.6c5 3 5 7.8 0 10.8L9 98.7c-5 3-9 .7-9-5V6.3c0-5.7 4-8 9-5l72 43.3z"></path>
                    </svg>
                </button>
                <a href="">
                    <div 
                        class="cover-art-image cover-art-image-loaded" 
                        style="background-image: https://i.scdn.co/image/653158097fe615908b4cca16af4e08d9487d40a4">
                    </div>
                </a>
            </div>

            <img src="https://i.scdn.co/image/653158097fe615908b4cca16af4e08d9487d40a4" class="cover" />

            <div class="row item-result-title">
                <a class="row" 
                   title="Radar de Novidades" 
                   href="/playlist/37i9dQZEVXbjdnDQjIZHu3">
                   Radar de Novidades
                </a>
            </div>
        </li>
    </ul>
</div>
